---
import { Icon } from 'astro-icon/components';
import { Picture } from 'astro:assets';

import Jobs from '@/assets/database/jobs.json';
import PictureProfile from '@/assets/images/profile-picture.png';
import ExperienceCard from '@/components/ExperienceCard.astro';
import Layout from '@/layouts/CV.astro';

const LINKEDIN_USERNAME = 'zandome';
const WEBSITE_DOMAIN = 'zandome.dev';
const LINKEDIN_URL = `https://www.linkedin.com/in/${LINKEDIN_USERNAME}`;
const EMAIL = `miguel@${WEBSITE_DOMAIN}`;
const PHONE_NUMBER = import.meta.env.PHONE_NUMBER;
const PHONE_NUMBER_URL = `tel:${PHONE_NUMBER}`;
const EMAIL_URL = `mailto:${EMAIL}`;
---

<Layout>
  <div class="flex flex-col gap-y-4 print:gap-y-2">
    <!-- Profile Picture -->
    <section class="flex flex-col items-center justify-center gap-y-2">
      <Picture
        formats={['webp', 'jpeg']}
        format="webp"
        src={PictureProfile}
        alt="Profile"
        loading="eager"
        fetchpriority="high"
        transition:name="profile"
        class="aspect-square w-30 rounded-full object-cover not-print:border-2 not-print:border-white print:w-20"
      />
      <div class="flex flex-col items-center justify-center">
        <h1 class="text-2xl font-bold print:text-cv-title">Miguel Enrique Mendoza Rivero</h1>
      </div>
      <div aria-label="Contact" class="cv__contact">
        <a href={EMAIL_URL} class="cv__contact__item hover:underline">
          <Icon name="mdi:email" class="text-base print:text-cv-body" />
          <span>
            {EMAIL}
          </span>
        </a>
        <a href={LINKEDIN_URL} class="cv__contact__item hover:underline">
          <Icon name="mdi:linkedin" class="text-base print:text-cv-body" />
          <span>{LINKEDIN_URL}</span>
        </a>
        <a href={PHONE_NUMBER_URL} class="cv__contact__item hover:underline">
          <Icon name="mdi:phone" class="text-base print:text-cv-body" />
          <span>{PHONE_NUMBER}</span>
        </a>
        <div class="cv__contact__item">
          <Icon name="mdi:map-marker" class="text-base print:text-cv-body" />
          <span>Madrid, Spain</span>
        </div>
      </div>
    </section>
    <section class="cv__section border-t-1 border-t-gray-400 pt-2" aria-label="Summary">
      <p class="print:text-cv-body print:italic">
        Self-taught software developer with over 7 years of experience building and leading web and
        mobile solutions in corporate environments. Proven track record in delivering scalable
        systems, improving development processes, and aligning technical execution with business
        goals.
      </p>
    </section>
    <section class="cv__section" aria-label="Experience">
      <header class="flex items-center gap-x-4 border-b-1 border-b-gray-400">
        <h3 class="cv__section__title">Experience</h3>
      </header>
      <div class="flex flex-col gap-y-4 print:gap-y-1">
        {Jobs.map((job) => <ExperienceCard {...job} />)}
      </div>
    </section>
    <section class="cv__section" aria-label="Education">
      <header class="flex items-center gap-x-4 border-b-1 border-b-gray-400">
        <h3 class="cv__section__title">Education</h3>
      </header>
      <ExperienceCard
        site="U.E. Colegio del Santisimo"
        grade="High School"
        endDate="2018-07-18T00:00:00+00:00"
        onlyShowEndDate
        location="Barquisimeto, Venezuela"
      />
    </section>
    <section class="cv__section" aria-label="Languages">
      <header class="flex items-center gap-x-4 border-b-1 border-b-gray-400">
        <h3 class="cv__section__title">Languages</h3>
      </header>
      <ul class="list-disc pl-8 text-base print:text-cv-body">
        <li>Spanish <span>(native)</span></li>
        <li>English <span>(B2)</span></li>
      </ul>
    </section>
    <section class="cv__section" aria-label="Skills">
      <header class="flex items-center gap-x-4 border-b-1 border-b-gray-400">
        <h3 class="cv__section__title">Additional Skills</h3>
      </header>
      <ul class="list-decimal pl-8 text-base print:text-cv-body">
        <li>
          <span class="text-lg font-bold print:text-cv-subtitle"> Technical Leadership </span>
          <p class="text-base print:text-cv-body">
            Proven ability to guide development teams, enforce coding standards, and contribute to
            scalable architectural decisions.
          </p>
        </li>
        <li>
          <span class="text-lg font-bold print:text-cv-subtitle"
            >Problem Solving & Critical Thinking</span
          >
          <p class="text-base print:text-cv-body">
            Skilled at analyzing complex technical and business challenges and implementing
            effective, efficient solutions.
          </p>
        </li>
        <li>
          <span class="text-lg font-bold print:text-cv-subtitle">Self-Driven Learning</span>
          <p class="text-base print:text-cv-body">
            Fully self-taught developer with a strong commitment to continuous learning and
            mastering new technologies independently.
          </p>
        </li>
        <li>
          <span class="text-lg font-bold print:text-cv-subtitle"
            >Cross-Functional Collaboration</span
          >
          <p class="text-base print:text-cv-body">
            Experience working closely with product, marketing, and data teams to align technical
            solutions with business and user needs.
          </p>
        </li>
        <li>
          <span class="text-lg font-bold print:text-cv-subtitle">Product-Oriented Mindset</span>
          <p class="text-base print:text-cv-body">
            Focused on delivering real value by prioritizing usability, performance, and business
            outcomes in every technical decision.
          </p>
        </li>
        <li>
          <span class="text-lg font-bold print:text-cv-subtitle">Adaptability</span>
          <p class="text-base print:text-cv-body">
            Demonstrated ability to thrive in diverse industries, tech stacks, and multicultural
            teams, both in startups and large organizations.
          </p>
        </li>
      </ul>
    </section>
  </div>
</Layout>
