---
import '@fontsource/poppins'
import '@styles/global.css'

import GoogleAnalytics from '../components/GoogleAnalytics.astro'

interface Props {
  title: string
}

const { title } = Astro.props

const description =
  "I'm Miguel Mendoza, Full Stack Developer, here in my Portfolio I will show you my projects, strengths, skills and how to get in touch with me."
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />

    <!-- HTML Meta Tags -->
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='robots' content='index, follow' />
    <meta
      name='keywords'
      content='Software, Developer, Javascript, Typescript, Full Stack, Frontend, Backend'
    />
    <meta name='author' content='Miguel Mendoza' />
    <meta name='copyright' content='Miguel Mendoza' />
    <link
      rel='alternate'
      href='https://rockcontent.com/'
      hreflang='x-default'
    />
    <link rel='canonical' href='http://zandome.com' />

    <!-- Facebook Meta Tags -->
    <meta property='og:url' content='https://zandome.com' />
    <meta property='og:type' content='website' />
    <meta property='og:title' content='Zandome' />
    <meta property='og:description' content={description} />
    <meta property='og:image' content='/zandome-og-bg.png' />

    <!-- Twitter Meta Tags -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta property='twitter:domain' content='zandome.com' />
    <meta property='twitter:url' content='https://zandome.com' />
    <meta name='twitter:title' content='Zandome' />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content='/zandome-og-bg.png' />

    <GoogleAnalytics />
  </head>
  <body>
    <main class='h-full'>
      <slot />
    </main>
  </body>
</html>
