---
import '@/styles/global.css';

import { version } from '@package';

import Analytics from '@/components/Analytics.astro';
import CookieConsent from '@/components/CookieConsent.astro';
import SpeedInsights from '@vercel/speed-insights/astro';

interface Props {
  title: string;
}

const COPYRIGHT_YEAR = new Date().getFullYear();

const { title } = Astro.props;

const description =
  "I'm Miguel Mendoza, Full Stack Developer, here in my Portfolio I will show you my projects, strengths, skills and how to get in touch with me.";
---

<!-- Theme Logic -->
<script is:inline>
  // const getThemePreference = () => {
  //   if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
  //     return localStorage.getItem('theme')
  //   }
  //   return window.matchMedia('(prefers-color-scheme: dark)').matches
  //     ? 'dark'
  //     : 'light'
  // }

  // const isDark = getThemePreference() === 'dark'
  // document.documentElement.classList[isDark ? 'add' : 'remove']('dark')

  // if (typeof localStorage !== 'undefined') {
  //   const observer = new MutationObserver(() => {
  //     const isDark = document.documentElement.classList.contains('dark')
  //     localStorage.setItem('theme', isDark ? 'dark' : 'light')
  //   })
  //   observer.observe(document.documentElement, {
  //     attributes: true,
  //     attributeFilter: ['class']
  //   })
  // }

  // TODO: Remove then of add new logic to replace theme
  document.documentElement.classList.add('dark')
</script>

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />

    <!-- Theme -->
    <meta name="theme-name" content="zandome" />
    <meta name="msapplication-TileColor" content="hsl(195, 20%, 10%)" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="hsl(195, 20%, 10%)"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="hsl(195, 20%, 10%)"
    />

    <!-- HTML Meta Tags -->
    <title>{title}</title>
    <meta name='version' content={version} />
    <meta name='description' content={description} />
    <meta name='robots' content='index, follow' />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name='keywords'
      content='Software, Developer, Javascript, Typescript, Full Stack, Frontend, Backend'
    />
    <meta name='author' content='Miguel Mendoza' />
    <meta name="copyright" content={`©${COPYRIGHT_YEAR} Miguel Mendoza`}>
    <link rel='canonical' href='http://zandome.com' />

    <!-- Facebook Meta Tags -->
    <meta property='og:url' content='https://zandome.com' />
    <meta property='og:type' content='website' />
    <meta property='og:title' content='Zandome' />
    <meta property='og:description' content={description} />
    <meta property='og:image' content='/zandome-og-bg.png' />

    <!-- Twitter Meta Tags -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta property='twitter:domain' content='zandome.com' />
    <meta property='twitter:url' content='https://zandome.com' />
    <meta name='twitter:title' content='Zandome' />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content='/zandome-og-bg.png' />

    <Analytics />
    <SpeedInsights/>
  </head>
  <body>
    <main class='h-full'>
      <!-- <CookieConsent/> -->
      <slot />
    </main>
  </body>
</html>
